body {
  margin: 0;
  font-family: Itim;
  background-color: #fff8ed;
}
.dashboard{
background-color:#6DC3C0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FADBD8;
  color: black;
}

.topnav a.active {
  background-color: #919191;
  color: white;
}

.heading {
  text-align:center;
  font-family:"Itim";
  font-size: 25px;

}
ul {
    list-style-type: none;
    overflow: hidden;
}
.header h1{
    font-size:300%;
    text-align: center;
    font-family: 100%;
}
li {
    float:left;
    width: 30%;
    text-align: center;
}
    .dateinfo{
        width:45%
}
.dateinfo img{
    width: 30%;
}
.dateinfo img{
    width: 45%;
}
.text h3{
    text-align: center;
}
.text h5{
    font-style: italic;
}

.slideshow-container img{
    font-color: white; opacity:0.8
}
.text {
    left: 0;
    top: 50%;
}

.footer {
  background-color: #6DC3C0;
  padding: 10px;
  text-align: center;
  color: #fff8ed;
}

.checked {
 color: orange;
}
.box {
  text-align: center;
  border: 1px solid black;
  margin: 25px 50px 75px;
}

.name {
  font-family: "Yu Gothic Medium";color: #020720;
  width: 250px;
  height: 45px;
  background:#FFE6C6;
  left:20px;
  position:relative;
transition: width 2s;
}
.name:hover{
  width: 315px;
}

.name1 {
  font-family: "Yu Gothic Medium";color: #020720;
  width: 250px;
  height: 45px;
  background:#FFE6C6;
  left:20px;
  position:relative;
transition: width 2s;
}
.name1:hover{
  width: 300px;
}

.location{
font-family: "Arial";color: #020720;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: .05em;
    left:20px;
    position:relative;
  }

.paragraph{
  left:20px;
  position:relative;
  font-size:20px;
}
  /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 40px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75;
  color:white;
  highlighted: White;
  width: 500px;
  padding: 50px;
  border: 5px 6DC3C0;
  margin: 0;
}


.column div{
  padding:20%;
  box-sizing:border-box;
  min-height:200px;
  min-width: 20px;
}
.left-column{
  width: 45%;
  float:left;
  text-align: center;
  font-size: 20px;
}
.right-column{
  width:50%;
  float:left;
  text-align: center;
  font-size: 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.topic {
    font-family:Itim;
    font-color:white;
    left: 10;
    background-color:6DC3C0;
}

.checked {
 color: orange;
}

.overall{
    box-shadow: 10px 10px 8px 3px #C3C2C1; background-color: white; margin: 100px;
}

.restaurant{
    width:30%; float:left; padding: 0px 20px 80px 50px;
}

.person img{
    width:15%; float:left; padding:20px 20px 20px 50px;
}

.paragraph {
    padding: 5px 10px 75px 0px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 50%;
    height:50%;
    padding:5px 50px;
}
}

@media screen and (max-width: 700px) {
  .name {
    width: 70%;
    left: 5%;

  }
}
@media screen and (max-width: 700px) {
  .name1 {
    width: 70%;
    left: 5%;

  }
}

@media screen and (max-width: 1062px) {
  .column {
    width: 100%;
    height:100%;
    padding:4px 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
}
@media screen and (max-width: 1062px) {
  .left-column {
    width: 100%;
    height:100%;
    padding:4px 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
}
@media screen and (max-width: 1062px) {
  .right-column {
    width: 100%;
    height:100%;
    padding:4px 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
}


@media screen and (max-width: 682px) {
  .column {
    width: 25%;
    height:25%;
    padding:5px 50px;
    text-align: center;
}
}

@media screen and (max-width: 682px) {
  .left-column {
    width: 25%;
    height:25%;
    padding:50px 50px;
    text-align: center;
}
}
@media screen and (max-width: 682px) {
  .right-column {
    width: 25%;
    height:25%;
    padding:50px 50px;
    text-align: center;
}
}
@media screen and (max-width: 1062px) {
  .column {
    width: 50%;
    height:50%;
    padding:2 50px 2 50px;
}}
@media screen and (max-width: 700px) {
  .left-column {
    width: 50%;
    height:50%;
    padding:10px 50px;
}
}

@media screen and (max-width: 700px) {
  .right-column {
    width: 50%;
    height:50%;
    padding:180px 50px;
}

@media screen and (max-width: 682px) {
  h2 {
  padding: 20px;  ;
  }}

  @media screen and (max-width: 682px) {
    .location {
    padding: 20px;  ;
    }}

@media screen and (max-width: 682px) {
    .person img{
    width: 5%;
    height: 5%;
}}
